@page "/statistics"
@using game2048.Shared
@using game2048.Models
@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using PLplot
@inject HttpClient Http

<h1>Histogram of scores</h1>
<button onclick="registerFunctions();">Register JS to Blazor</button>
<button onclick=@drawChart>Draw chart</button>
<br /><br />

<canvas id="chart"></canvas>

@functions
{ 

    private async void drawChart()
    {
        var scores = await Http.GetJsonAsync<ScoreClass[]>("/api/ScoreClasses");
        int min, max;
        min = scores.Min(s => s.Points);
        max = scores.Max(s => s.Points);
        int count = scores.Count();
        double p = (max - min) / 10;
        double[] buckets = new double[10];
        foreach(var s in scores)
        {
            buckets[(int)((s.Points - min) / p) == 10 ? 9 : (int)((s.Points - min) / p)]++;
        }
        buckets = buckets.Select(b => b / count*100).ToArray();
        RegisteredFunction.Invoke<bool>("newChart",buckets);
    }
}