.tile {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    margin: 12.5px;
    text-align: center;
    display: inline-block;
    line-height: 80px;
    font-family: 'Comic Sans MS';
    font-size: 30px;
    max-height: 100px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#grid {
    width: 500px;
    height: 500px;
    background-color: limegreen;
    float: left;
}

#AImenu{
    margin-left: 100px;
    width: 300px;
    float: left;
}

.row {
    width: 500px;
    height: 125px;
    margin: 0px;
}
