<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyKey"
         connectionString="User ID=mkfilipiuk;Password=mkfilipiuk;Host=localhost;Port=5432;Database=postgres;Pooling=true;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>